// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #588157;
$secondary: #344e41;
$dark: #3a5a40;
$body-bg: #dad7cd;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
